body {
  font-family: "Georgia", "Times New Roman", serif;
  background-color: #ffffff;
  color: #000000;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 60px auto;
  padding: 0 20px;
}

.title-block {
  text-align: center;
  margin-bottom: 50px;
}

.title-block h1 {
  font-size: 2.2rem;
  font-weight: normal;
  margin-bottom: 10px;
}

.title-block h2 {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 5px;
}

.date {
  font-size: 1rem;
}

h3 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

ol {
  padding-left: 30px;
}

li {
  margin-bottom: 14px;
}
